// Color
$cBlack: #1f1f1f;
$cFiord: #5b607b;
$cOutrageousOrange: #ff6632;
$cElectricViolet: #8932ff;
$cPurple: #8769FF;
$cMercury: #f7f7f9;
$cMischka: #dbdee4;
$cRedOrange: #ff323e;
$cGreen: #44c03a;


$cWhite: #ffffff;
$cMischka: #dbdee4;
$cPorcelain: #f0f1f2;

$cGhost: #c1c6cf;
$cGray01: rgba($cGhost, .1);
$cGray02: rgba($cGhost, .2);
$cGray04: rgba($cGhost, .4);

$cAthensGray: #f9fafb;
$cFiord1: #212a3e;

$cFiord01: rgba($cFiord, .1);
$cFiord02: rgba($cFiord, .2);
$cFiord04: rgba($cFiord, .4);
$cFiord06: rgba($cFiord, .6);
$cFiord08: rgba($cFiord, .8);

$cBlack05: #2a2a2a;
$cBlack06: #262626;
$cBlack07: #212121;

$cAzure: #a3b6d4;
$cAzure1: #9aa3b2;
$cHeliotropeapprox: #9d54ff;
$cPurpleHeart: #712bd0;
$cHanPurple: #7927FF;
$cMauve: #c498ff;
$cMoonRaker: #ece3fa;
$cRed: #ff4949;
$cShamrock: #33d69b;
$cOrange: #ffbc00;
